<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/painel.css">
    <title>Painel</title>
</head>
<body>
    <h1>Painel de Tabelas</h1>
    <ul>
        <li><a href="/pacientes">Pacientes</a></li>
        <li><a href="/medicos">Médicos</a></li>
        <li><a href="/consultas">Consultas</a></li>
        <li><a href="/receitas">Receitas</a></li>
    </ul>
</body>
</html>